<div class="row columns">
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <!-- <div class="row columns">
      <div>
        <h1>Login To Your Account</h1>
        <button class="btn btn-default" (click)="login()">Login With Google</button>
      </div>
  </div> -->


<!-- #4 convert to display client fields [firstName, lastName, email, hourlyRateCharged, weeklyVisitFrequency] -->
<!-- #5 style customer details change a background color if the user is inactive -->
  <div id="details-container">
      <div *ngFor="let item of items | async">
        
        <div class="customer-details"> 
          {{item.message | json}}
        </div>
        <!-- #6 toggle button text   -->
        <!-- <button> {{client.activity}} </button> -->
      </div>
  </div>
</div>